<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="Meat Bazar"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Splash Screen -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Authentication -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"/>

        <!-- User -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- Admin -->
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"/>

        <!-- Distributor -->
        <activity
            android:name=".distributor.DistributorDashboardActivity"
            android:exported="false"/>

    </application>

</manifest>