<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Auth -->
        <activity android:name=".activities.LoginActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.RegisterActivity" android:exported="false"
            tools:ignore="Instantiatable" />

        <!-- Main User -->
        <activity android:name=".MainActivity" android:exported="false"/>

        <!-- Admin -->
        <activity android:name=".admin.AdminDashboardActivity" android:exported="false"
            tools:ignore="Instantiatable" />

        <!-- Distributor -->
        <activity android:name=".distributor.DistributorDashboardActivity" android:exported="false"
            tools:ignore="Instantiatable" />

    </application>

</manifest>